*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
nvboard/
/fceux-am
!compile_commands.json
/am-kernels

# Keep the lectures
/docs/*
!/docs/notes/
!/docs/notes/**
!/docs/lectures/
!/docs/lectures/**